<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTjLeykPMWg-qZzNk0IVP5O62WC7YoW9M</string>
	<key>GCM_SENDER_ID</key>
	<string>855699233398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firststeps.foktukhier</string>
	<key>PROJECT_ID</key>
	<string>octukheir-626f5</string>
	<key>STORAGE_BUCKET</key>
	<string>octukheir-626f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855699233398:ios:f665ceb17751824b531d57</string>
</dict>
</plist>